[Unit]
Description=wlroots based desktop environment
BindsTo=graphical-session.target
After=graphical-session.target
Wants=graphical-session-timers.target
