[Unit]
Description=Dynamic output configuration
Documentation=man:kanshi(1)
Documentation=man:kanshi(5)
PartOf=wayland-session.target
After=wayland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=always

[Install]
WantedBy=wayland-session.target
